@(implicit flash: Flash)
@import helper._
@import helper.twitterBootstrap._

@main("iletişim"){
      <div class="row clearfix">
		<div class="col-md-12 column">
		<div class="row jumbotron">
			<div class="row clearfix">
				<div class="col-md-2 column">
				</div>
				<div class="col-md-8 column">
				<h3 class="text-center">Feeback</h3>
				 @helper.form(action=routes.Application.feedback(), 'class -> "form-horizontal") {
	  	 	<div class="controls">
	  	 	<div class="form-group">
      			<textarea type="search" name="feedback"  class = "form-control" placeholder="Enter your feedback here"></textarea>
     			</div>
     			<div class="form-group">
     			<span class="input-group-btn">
    		    	<button class="btn btn-default" type="button">  Send  </button>
      			</span>

    		</div><!-- /input-group -->
			</div>
        }
				</div>
				<div class="col-md-2 column">
				</div>
			</div>
		</div>
	</div>
</div>
	
}